.contactListItem {
    list-style: disc;
    margin: 10px 0;
  }
  .contactListItemDeleteButton {
    background-color: rgb(0, 166, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
  }
  